@-webkit-keyframes slideinfromright {
  from { -webkit-transform: translate3d(110%, 0, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes slideinfromleft {
  from { -webkit-transform: translate3d(-100%, 0, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes slideouttoleft {
  from { -webkit-transform: translate3d(0, 0, 0);}
  to { -webkit-transform: translate3d(-100%, 0, 0);}
}

@-webkit-keyframes slideouttoright {
  from { -webkit-transform: translate3d(0, 0, 0);}
  to { -webkit-transform:translate3d(100%, 0, 0);}
}

body > section {
  -webkit-transition: .2s all linear;
}

.out {
  opacity: 0;
  -webkit-transform: translate3d(-200px, 0, 0);
}

.slide li {
  -webkit-transform: translate3d(120%, 0, 0);
  font-size: 40px;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: easeinout;
  list-style: none;
}

.slide {
  position: absolute;
  top: 39px;
  width: 100%;
}

.slide-current {
  z-index: 100;
}

.slide .s-in {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate(0%, 0);
  transform: translate(0%, 0);
  opacity: 1;
  -webkit-animation-name: slideinfromright;
  -moz-animation-name: slideinfromright;
  animation-name: slideinfromright;
}

.slide .s-out {
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: slideouttoleft;
  -moz-transform: translate(-100%, 0);
  -moz-animation-name: slideouttoleft;
  transform: translate(-100%, 0);
  animation-name: slideouttoleft;
}