body {
  background:transparent url('../images/pattern.png') repeat !important;
  font-family: "helvetica neue", helvetica, sans-serif;
  padding-top: 44px;
  margin: 0;
  height: 370px;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: #2A2A2A;
  margin-top: 0;
}

.none {
  display: none;
}

.form {
  margin: 0;
  padding: 0;
}

.titleContainer {
  padding: 10px;
}

h1 {
  margin-top: 25px;
  font-size: 40px;
}

.panel {
  width: 300px;
  overflow: hidden;
}

.panel h2 {
  display: none;
  color: #333 !important;
  line-height: 27px;
  margin-top: 11px;
}

.panel li {
  padding: 0 10px;
}

.panel li input {
  position: absolute;
  left: -99999px;
}

body .highlighted:not(.buttonInline) {
  background: #218AB9 !important;
}

header {
  position: fixed;
  height: 25px;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: #6F7070;
  padding: 13px 0;
  z-index: 200;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f4f4f4;
  line-height: 20px;
}

header p {
  float: left;
  margin-left: 10px;
  color: #fff;
}

#introduction {
  position: absolute;
}

#introduction,
#final {
  padding: 10px;
}

button,
.btn {
  padding: 7px 5px;
  border-radius: 5px;
  border: 1px solid #666;
  text-decoration: none;
  background: #D4D4D4;
  color: #888;
  font-size: 13px;
}

#final {
  z-index: 5;
}

#final table {
  margin-bottom: 20px;
}

#final td {
  font-size: 10px;
  vertical-align: top;
}

#final td p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 34px;
}

#final td div {
  background: #218AB9;
  text-align: center;
  font-size: 30px;
}

#final .type {
  text-transform: uppercase;
}
